services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama

  backend:
    build: ./backend
    container_name: rag_backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    volumes:
      - ./backend/data:/app/data
      # - ./backend/chroma_db:/app/chroma_db

  frontend:
    build: ./frontend
    container_name: rag_frontend
    restart: unless-stopped
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  ollama_models:
